<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wqt.iccc2016">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wqt.HotelAndTravelActivity"
            android:label="@string/title_activity_hotel_and_travel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".wqt.PatronActivity"
            android:label="@string/title_activity_patron"
            android:hardwareAccelerated="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".wqt.ProgramActivity"
            android:label="@string/title_activity_program"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".wqt.ShowPicActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.CommitteeActivity"
            android:label="@string/title_activity_committee"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.VersionActivity"
            android:label="@string/title_activity_version"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".wqt.DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".qpf.GeneralChairsActivity"
            android:label="@string/title_activity_general_chairs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.TechnicalProgramChairsActivity"
            android:label="@string/title_activity_technical_program_chairs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.CommitteeMainActivity"
            android:label="@string/title_activity_committee_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.TechnicalProgramCommitteeActivity"
            android:label="@string/title_activity_technical_program_committee"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.MemberActivity"
            android:label="@string/title_activity_member"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.CommitteeDetailsActivity"
            android:label="@string/title_activity_committee_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.STCActivity"
            android:label="@string/title_activity_stc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.SPCActivity"
            android:label="@string/title_activity_spc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.OCSNActivity"
            android:label="@string/title_activity_ocsn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.NGNActivity"
            android:label="@string/title_activity_ngn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.CCTActivity"
            android:label="@string/title_activity_cct"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.SNBDActivity"
            android:label="@string/title_activity_sndb"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.WCSActivity"
            android:label="@string/title_activity_wcs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.WNMActivity"
            android:label="@string/title_activity_wnm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.PSCActivity"
            android:label="@string/title_activity_psc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.MapsActivity"
            android:label="@string/title_activity_maps"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>