<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wqt.iccc2016">

    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wqt.HotelAndTravelActivity"
            android:label="@string/title_activity_hotel_and_travel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".wqt.PatronActivity"
            android:hardwareAccelerated="false"
            android:label="@string/title_activity_patron"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".wqt.ProgramActivity"
            android:label="@string/title_activity_program"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".wqt.ShowPicActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.CommitteeActivity"
            android:label="@string/title_activity_committee"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.VersionActivity"
            android:label="@string/title_activity_version"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".wqt.DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.GeneralChairsActivity"
            android:label="@string/title_activity_general_chairs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.TechnicalProgramChairsActivity"
            android:label="@string/title_activity_technical_program_chairs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.CommitteeMainActivity"
            android:label="@string/title_activity_committee_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.TechnicalProgramCommitteeActivity"
            android:label="@string/title_activity_technical_program_committee"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.MemberActivity"
            android:label="@string/title_activity_member"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.CommitteeDetailsActivity"
            android:label="@string/title_activity_committee_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.STCActivity"
            android:label="@string/title_activity_stc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.SPCActivity"
            android:label="@string/title_activity_spc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.OCSNActivity"
            android:label="@string/title_activity_ocsn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.NGNActivity"
            android:label="@string/title_activity_ngn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.CCTActivity"
            android:label="@string/title_activity_cct"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.SNBDActivity"
            android:label="@string/title_activity_sndb"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.WCSActivity"
            android:label="@string/title_activity_wcs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.WNMActivity"
            android:label="@string/title_activity_wnm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.PSCActivity"
            android:label="@string/title_activity_psc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.MapsActivity"
            android:label="@string/title_activity_maps"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- push service start -->
        <!-- 用于接收系统消息以保证PushService正常运行 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <!-- Push服务接收客户端发送的各种请求 -->
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        <!-- 4.4版本新增的CommandService声明，提升小米和魅族手机上的实际推送到达率 -->
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />
        <!-- push结束 -->


        <!-- 此处Receiver名字修改为当前包名路径 -->
        <receiver android:name=".wqt.Message.PushTestReceiver">
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind、setTags等method的返回结果 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <!-- 接收通知点击事件，和通知自定义内容 -->
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="api_key"
            android:value="GSTBsk1kbHWzCbfEdudxn03E" />

        <activity
            android:name=".wqt.Message.MessageActivity"
            android:label="@string/title_activity_message"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".wqt.Message.MessageDetailActivity"
            android:label="@string/title_activity_message_detail"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>